body
{
    margin: 0;
    padding: 0;
}
header
{
    border: 1px solid black;
    width: 100%;
    height: 55px;
    background-color: #333333;
}
.nav-logo
{
    
}
#logo
{
    height: 10opx;
}
.sign-up
{
    border: black 1px solid;
    width: 100%;
    height: 450px;
    background-color: #D4D8DB;
}
.items
{
    width: 100%;
    height: 77px;
    border: solid 1px black;
}