body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-logo
{
    border: white 1px solid;
    width: 400px;
    height: 55px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
}

header
{
    border: 1px solid black;
    width: 100%;
    height: 55px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

header a
{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 56px;
    color: #666;

}
.login
{
    width: 195px;
    border: white 1px solid;
    padding-top: 10px;
}
#sign-in
{
    background-color: transparent;
    color: #999;
}
.login button
{
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    background-color: #DF3E7B;
    color: #fff;
    border: none;
}

/* signup section */
.sign-up
{
    width: 100%;
    height: 450px;
    display: flex;
    background-color: #e9e6df;
    text-align: left;
    padding: 2vh 2rem;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    padding-left:150px;
    
}
#sign-up
{
    width: 582px;
    height: 480px;
}
.sign-up h1
{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #000000;
}
.sign-up p
{
    font-size: 20px;
    font-weight: 400;
    color: #925a1c;
}
.sign-up button
{
    margin-bottom: 110px;
}
.sign-up span
{
    font-size: 16px;
}

.sign-up button
{
    height: 37px;
    width: 80px;
    background-color: #DF3E7B;
    color: #fff;
}

/* item & categories */
.items
{
    width: 100%;
    height: 77px;
    border: solid 1px black;
    display: flex;
}
.items-categories
{
    
}
.items-categories a
{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #757575;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
}
.filters
{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
}
.cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #F4F4F4;
}
.card-1
{
    width: 404px;
    height: 312px;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #fff;
}
.card-1 img
{
    height: 300px;
    width: 390px;
    padding-left: 7px;
    padding-top: 6px;
}

/* Adobe Stock section */
.adobe-stock
{

}

footer
{
    height: 330px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
}
.row-1
{
    width: 270px;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #999999;
}
.row-1 .social
{
    width: 24px;
}
.row-2
{
    width: 390px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.row-3
{
    width: 24px;
    font-size: 13px;
}