body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-logo
{
    border: white 1px solid;
    width: 400px;
    height: 55px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
}

header
{
    border: 1px solid black;
    width: 100%;
    height: 55px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

header a
{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 56px;
    color: #666;

}
.login
{
    width: 195px;
    border: white 1px solid;
    padding-top: 10px;
}
#sign-in
{
    background-color: transparent;
    color: #999;
}
.login button
{
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    background-color: #DF3E7B;
    color: #fff;
    border: none;
}

/* signup section */
.sign-up
{
    width: 100%;
    height: 450px;
    display: flex;
    background-color: #e9e6df;
    text-align: left;
    padding: 2vh 2rem;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    padding-left:150px;
    
}
#sign-up
{
    width: 582px;
    height: 480px;
}
.sign-up h1
{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #000000;
    margin-top: 6rem;
}
.sign-up p
{
    font-size: 20px;
    font-weight: 400;
    color: #925a1c;
}
.sign-up button
{
    margin-bottom: 40px;
    border-radius: 4px;
    border: none;
}
.sign-up span
{
    font-size: 16px;
}
.sign-up a
{
    color: black;
}

.sign-up button
{
    height: 37px;
    width: 80px;
    background-color: #DF3E7B;
    color: #fff;
}

/* item & categories */
.items
{
    width: 100%;
    height: 77px;
    border: solid 1px black;
    display: flex;
}
.categories
{
    padding-top: 30px;
    display: flex;

}
.dropdown
{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 40px;
    border: black 1px solid;
    
}
#dropdownlist
{
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #444444;
    height: 38px;
    width: 115px;
    border-radius: 8px;
}
.items-categories
{
    border: solid black 1px;
    padding-left: 60px;
}
.items-categories :hover
{
    background-color: #E2EEF5;
    color: #3a8bbb;
    border-radius: 8px;
}
.items-categories a
{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 14px;
    color: #757575;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
}
.filters
{
    width: 240px;
    /* height: 400px; */
    display: flex;
    justify-content: flex-end;
    border: black solid 1px;
}
.cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #F4F4F4;
}
.card-1
{
    width: 404px;
    height: 312px;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #fff;
}
.card-1 img
{
    height: 295px;
    width: 385px;
    padding-left: 9px;
    padding-top: 8px;
}

/* Adobe Stock section */
.adobe-stock
{
    border: solid black 1px;
    width: 650px;
    /* display: flex; */

}
.adobe-stock img
{
    height: 56px;
    width: 157px;
}
.adobe-stock a
{
    text-decoration: none;
    font-size: 12px;
}
.adobe-row1
{
    display: flex;
    justify-content: space-around;
}
.adobe-p
{
    border: solid 1px black;
}
.adobe-p p
{
    height: 12px;
    width: 300px;
    line-height: 13px;
}
.adobe-stock p :hover
{
    color: #3a8bbb;
}
.adobe-link2 a
{
    font-size: 10px;
}
#b1
{
    height: 40px;
    width: 97px;
    border-radius: 4px;
    border: none;
    color: #666;
    background-color: #ddd;
}
#b1 :hover
{
    background-color: #3a8bbb;
}
#b2
{
    height: 47px;
    width: 400px;
    border-radius: 4px;
    border: none;
    background-color: #DF3E7B;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}
#b2 :hover
{
    background-color: #DF3EFB;
}
.sign_in-up
{
    text-align: center;
}

/* Footer section */
footer
{
    height: 330px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    border: solid 1px black;
}
.row-1
{
    width: 270px;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #999999;
    border: 1px solid black;
}
.row-1 .social
{
    width: 24px;
}
.row-2
{
    width: 390px;
    display: flex;
    font-size: 13px;
    border: 1px solid black;

}
.row-2c
{
    display: flex;
    width: 2px;
}
.row-2 ul
{
    list-style: none;
}
.row-2 ul li a
{
    text-decoration: none;
}

.row-3
{
    width: 150px;
    font-size: 13px;
    border: 1px solid black;
}
.row-3 ul
{
    list-style: none;
}
.row-3 ul li a
{
    text-decoration: none;
}
.row-3 img
{
    height: 35px;
    width: 35px;
}
.row-4
{
    border: black 1px solid;
    width: 300px;

}
#adobe
{
    height: 101px;
    width: 130px;
    border-radius: 3px;
    display: flex;
    padding-top: 15px;
}
.footer-ball img
{
    height: 50px;
    width: 50px;
}
.footer-ball
{
    display: flex;
    flex-direction: row;
    
}